<header>
  <div class="container">
    <div class="row">
      <div class="col-sm-12 p-flex p-flex-align-center p-flex-jc-sb">
        <ul>
          <li>
            <img src="assets/img/meat.png" width="30">
          </li>
          <li>
            <img class="p-cursor" src="assets/img/loupe.png" width="25">
          </li>
        </ul>
        <ul>
          <li>
            <a href="#top" [routerLink]="['/']" [routerLinkActive]="['is-active']">HOME</a>
          </li>
          <li>
            <a href="#top">ABOUT</a>
          </li>
          <li>
            <a href="#top">PORTFOLIO</a>
          </li>
          <li>
            <a href="#top">DRONE</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</header>
