



<section>
    <div class="container">
        <div class="row">
            <div class="col-sm-5">
                <div class="p-profile"></div>
            </div>
            <div class="col-sm-7">
                <span class="p-tag">Junior at BeCode.org</span>
                <h1 class="grootNaam mt-4 mb-4">Viktor Podevyn</h1>
                <p class="p-des mt-3">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci amet dignissimos dolores ducimus, earum esse, eum ipsam nemo nisi officiis perspiciatis quae quidem rerum sapiente similique sint, tempore voluptas voluptate! Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci amet dignissimos dolores ducimus, earum esse, eum ipsam nemo nisi officiis perspiciatis quae quidem rerum sapiente similique sint, tempore voluptas voluptate!</p>
                <a class="p-readmore" href="#">Read More <img src="assets/img/right-arrow.png" alt="Arrow" width="20" class="ml-2"></a>

            </div>
        </div>
    </div>
</section>



































