/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.css";

body {
  margin: 0;
  padding: 0;
}

p {
  margin: 0;
}
ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

a, a.hover {
  text-decoration: none;
  color: black;
}

h1 {
  font-weight: 700;
}

/* COMMON */

.p-cursor {
  cursor: pointer;
}

.p-flex {
  display: flex;
}

.p-flex-align-center {
  align-items: center;
}

.p-flex-jc-sb {
  justify-content: space-between;
}

.p-readmore {
  color: #E98074;
  font-size: 18px;
  font-weight: 600;
}

.p-readmore img {
  transition: all .5s;
  transform: translateX(0);
}

.p-readmore:hover {
  color: black;
}

.p-readmore:hover img {
  transform: translateX(5px);
}

.p-wrapper {
  position: relative;
}

.p-wrapper::before {
  content: '';
  background: #EAE7DC;
  height: 100vh;
  width: 100vw;
  position: absolute;
  z-index: -1;
}




